body {
  background-color: #50A4A8;
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  position: relative;
}

body,
body * {
  box-sizing: border-box;
}

main {
  width: 100%;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
}

.unify_text {
  font-family: cursive;
  color: #012330;
}

/* SideBar */

#sidebar {
  order: 5;
  border-top: 4px solid #ccc;
}

#sidebar div {
  flex-direction: column;
  margin-left: 1em;
}

#sidebar * {
  margin: 0;
}

#owner_name {
  text-align: center;
  line-height: 4em;
}

#logo {
  order: -2;
  height: 100px;
  width: 20%
}

#sidebar li {
  margin-bottom: 0.5em;
}

#sidebar p {
  margin-bottom: 0.5em;
}

/*---------------------------------------------------*/