body {
  background-color: #50A4A8;
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  position: relative;
}

body,
body * {
  box-sizing: border-box;
}

main {
  width: 100%;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
}

.unify_text {
  font-family: cursive;
  color: #012330;
}

/* SideBar */

#sidebar {
  order: 5;
  border-top: 4px solid #ccc;
}

#sidebar div {
  flex-direction: column;
  margin-left: 1em;
}

#sidebar * {
  margin: 0;
}

#owner_name {
  text-align: center;
  line-height: 4em;
}

#logo {
  order: -2;
  height: 100px;
  width: 20%
}

#sidebar li {
  margin-bottom: 0.5em;
}

#sidebar p {
  margin-bottom: 0.5em;
}

.biography ul {
  font-size: 14px;
}

/*---------------------------------------------------*/

header {
  width: 100%;
  flex-direction: column;
}

#header_name {
  font-size: 4em;
  border-bottom: 4px solid #ccc;
  margin-bottom: 0.5em;
  color: #ccc;
}

/*---------------------------------------------------*/

#header_name {
  text-align: center;
  margin: 0;
  padding-top: .5em;
  padding-bottom: 0.5em;
  text-transform: uppercase;
  color: #ccc;
}

.menu {
  margin: 0;
  width: 100%;
  justify-content: space-around;
}

.menu img {
  padding-left: 8px;
  padding-right: 8px;
  height: 60px;
  width: auto;
  border: 2px outset #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.menu img:hover {
  border: 2px inset #ccc;
}

a {
	text-decoration: none;
}
a:link,
a:visited {
  color: blue;
}

/*---------------------------------------------------*/

article {
  margin-bottom: 1em;
}

.section_title {
  padding: 1em;
  padding-left: 30px;
  font-size: 1.5em;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

.image_container img {
  width: 100%;
  min-height: 100%;
  margin-top: 0.5em;
}

figure {
  margin: auto;
  margin-bottom: 1em;
  border-bottom: 1px dashed #ccc;
}

/*Taken from http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ with modifications*/

.caption,
.caption * {
  margin: 0;
}

.caption_title {
  padding-left: 1em;
  font-size: 1em;
  line-height: 1.2em;
  max-height: 2.4em;
  overflow: hidden;
  position: relative;
  text-align: left;
  margin-top: 1em;
  padding-right: 1em;
}

.caption_title:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 1.2em;
  bottom: 0;
  z-index: -1;
}

.caption_title:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 1.2em;
  width: 1em;
  /* set width and height */
  height: 1em;
  margin-top: 0.2em;
  background: #50A4A8;
  z-index: -1;
}

.caption_source {
  text-align: right;
  padding: 0.5em;
  margin: 0;
}