/* SideBar */

#sidebar {
  order: 5;
  border-top: 4px solid #ccc;
}

#sidebar div {
  flex-direction: column;
  margin-left: 1em;
}

#sidebar * {
  margin: 0;
}

#owner_name {
  text-align: center;
  line-height: 4em;
}

#logo {
  order: -2;
  height: 100px;
  width: 20%
}

#sidebar li {
  margin-bottom: 0.5em;
}

#sidebar p {
  margin-bottom: 0.5em;
}

.biography ul {
  font-size: 14px;
}

/*---------------------------------------------------*/

header {
  width: 100%;
  flex-direction: column;
}

#header_name {
  font-size: 4em;
  border-bottom: 4px solid #ccc;
  margin-bottom: 0.5em;
  color: #ccc;
}

/*---------------------------------------------------*/